/*-------
Variables
-------*/
$black: #000;
$shade-darkest: #1f1d1d;
$shade-dark: #1c1d1be7;
$shade-medium: #494b46;
$shade-light: #5f5858;
$shade-lightest: #ccc;

$cup-color: #247e37;
$coffee-color: #b4693e;
$milk-color: #fff;

/*-------
Mixins
-------*/
@mixin sizeAndColor($height, $width, $bgColor) {
  height: $height;
  width: $width;

  background-color: $bgColor;
}

@mixin centerFromLeft() {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

@mixin bottomLeftRightRadius($left, $right) {
  border-bottom-left-radius: $left;
  border-bottom-right-radius: $right;
}

/**************
Back of machine
**************/
.machine_background::before {
  content: '';
  @include sizeAndColor(400px, 270px, $shade-dark);
  @include centerFromLeft();
  position: absolute;

  z-index: 0;
}

.machine_background::after {
  content: '';
  @include sizeAndColor(400px, 215px, $shade-medium);
  @include centerFromLeft();
  position: absolute;

  z-index: 0;
}

/*****************
Machine background
*****************/
.machine_background {
  @include sizeAndColor(400px, 400px , $shade-lightest);
  position: relative;

  /****************
  Machine Top Panel
  ****************/
  .machine_top_panel_outer {
    @include sizeAndColor(80px, 300px, $shade-darkest);
    @include bottomLeftRightRadius(35%, 35%);
    position: relative;
    margin: auto;

    z-index: 1;

    .machine_top_panel_inner {
      @include sizeAndColor(60px, 200px, $shade-medium);
      @include bottomLeftRightRadius(15%, 15%);
      margin: auto;

      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%;

      /*--------------
      Machine Buttons
      --------------*/
      .machine_buttons_group {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        height: 100%;

        .machine_button {
          @include sizeAndColor(25px, 25px, $shade-lightest);

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
      
          border-radius: 50%;
          border: 4px $black solid;
        }

        .machine_button_pressed {
          background-color: red;
        }
      }
    }
  }

  /*---------------------    
  Machine Pouring Section
  ---------------------*/
  .machine_pouring_top {
    @include sizeAndColor(20px, 100px, $black);
    @include bottomLeftRightRadius(40%, 40%);
    position: relative;

    z-index: 1;  
  }

    .machine_pouring_center {
      @include sizeAndColor(10px, 45px, $shade-dark);
      position: relative;
      margin: auto;
      
      z-index: 1;
    }

    /*---------------------    
    Machine Pouring Nozzles
    ---------------------*/
    .machine_nozzles {
      position: relative;
      display: flex;
      justify-content: center;
      
      z-index: 1;

      .machine_nozzle {
        @include sizeAndColor(15px, 10px, $shade-light);
        
        margin: 0 .1rem;
      }

      .coffee_nozzle::after {
        content: '';
        position: absolute;
        animation: liquidPouring 900ms linear;

        width: 10px;
        background-color: $coffee-color;
        top: 100%;
      }

      .milk_nozzle::after {
        content: '';
        position: absolute;
        animation: liquidPouring 900ms linear;

        width: 10px;
        background-color: $milk-color;
        top: 100%;
      }
    }

    /**********   
    Machine Cup
    **********/
    .machine_cup {
      @include sizeAndColor(45px, 50px, $cup-color);
      @include centerFromLeft();
      @include bottomLeftRightRadius(40%, 40%);
      position: absolute;

      box-shadow: inset 8px 0 10px -6px rgba(0, 0, 0, 0.4);
      z-index: 1;

       /*----------------    
      Machine Cup Handle
      ----------------*/
      .machine_cup_handle {
        @include sizeAndColor(25px, 25px, $cup-color);
        position: absolute;

        right: -9px;
        top: 20%;
        transform: translate(0 ,-20%);

        border-radius: 50%;
      }

      /*----------------    
      Machine Cup Steam
      ----------------*/
      .machine_cup_steam {
        position: absolute;
        top: -25px;
        left: 20px;

        height: 25px;
        width: 25px;

        animation: steamFromDrink 1.5s infinite;
        
        border-radius: 45%;
        opacity: 0;
        background-color: $shade-lightest;
      }
    }

      /*----------------    
      Machine Cup Stand
      ----------------*/
      .machine_cup::after {
        content: '';
        @include sizeAndColor(5px, 60px, $black);
        @include centerFromLeft();
        position: absolute;
      }
}
