/*----------------
Machine Background
----------------*/
.machine_background::before {
  content: '';
  position: absolute;
  height: 400px;
  width: 270px;
  background-color: rgba(90, 209, 20, 0.527);
  top: 0;
  left: 50%;
  transform: translate(-50%);

  z-index: 0;
}

.machine_background::after {
  content: '';
  position: absolute;
  height: 400px;
  width: 215px;
  background-color: rgba(75, 126, 46, 0.527);
  top: 0;
  left: 50%;
  transform: translate(-50%);

  z-index: 0;
}

.machine_background {
  position: relative;
  width: 400px;
  height: 400px;

  background-color: #ccc;

  /*----------------
  Machine Top Panel
  ----------------*/
  .machine_top_panel_outer {
    position: relative;
    width: 300px;
    background-color: #1f1d1d;
    height: 80px;

    margin: auto;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    z-index: 1;
    .machine_top_panel_inner {
      background-color: #494b46;

      border-bottom-left-radius: 15%;
      border-bottom-right-radius: 15%;
      height: 60px;
      width: 200px;
      margin: auto;

      /*--------------
      Machine Buttons
      --------------*/
      .machine_buttons_group {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;

        .machine_button_outer {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          height: 25px;
          width: 25px;
          border-radius: 50%;

          .machine_button_inner {
            height: 15px;
            width: 15px;
            background-color: #ccc;
            border-radius: 50%;
          }
        }
      }
    }
  }

  /*---------------------    
  Machine Pouring Section
  ---------------------*/
  .machine_pouring_top {
    position: relative;
    height: 20px;
    width: 100px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-color: #000;

    z-index: 1;
    
  }

    .machine_pouring_center {
      position: relative;
      height: 10px;
      width: 45px;
      background-color: #333030;

      margin: auto;
      z-index: 1;
    }

    /*---------------------    
    Machine Pouring Nozzles
    ---------------------*/
    .machine_nozzles {
      position: relative;
      display: flex;
      justify-content: center;

      z-index: 1;

      .machine_nozzle {
        height: 15px;
        width: 10px;
        background-color: #5f5858;
        margin: 0 .1rem;
      }
    }

    // .machine_back_panel_outer {
    //   position: absolute;
    //   background-color: #cc234c;
    //   height: 100%;
    //   width: 200px;
    //   margin: auto;

    //   top: 0;
    //   left: 50%;
    //   transform: translate(-50%);
    //   z-index: 0;
    // }
}


